body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(115, 205, 115), #326e81);
    color: #2c5f2d;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    background: linear-gradient(to right, #4CAF50, #367c39);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Logo Styling */
.logo {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}

main {
    padding: 20px;
}

#search-form, #storage-info {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    border: 2px solid #2c5f2d;
    text-align: left;
}

#storage-info {
    background: #dfffe0;
}

input,
button {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 95%;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    font-size: 1.1rem;
    box-sizing: border-box;
}

input[type="text"],
input[type="number"] {
    background-color: rgba(255, 255, 255, 0.7);
    color: #2c5f2d;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #367c39;
}

#map-container {
    height: 500px;
    width: 95%;
    max-width: 900px;
    margin: 20px auto;
    border: 2px solid #2c5f2d;
    border-radius: 10px;
}

.leaflet-popup-content-wrapper {
    background-color: white;
    color: #2c5f2d;
    border-radius: 5px;
    padding: 10px;
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content h3 {
    margin-top: 0;
}
